<!DOCTYPE HTML>
<html>
  <head>
    <%- include('../common/head.ejs') %>
    <title><%= title %>职业信用联盟</title>
    <% if (env !== 'dev') { %>
      <link rel="stylesheet" type="text/css" charset="utf-8" href="/dist/css/my/receive.css?v=<%= ts %>">
    <% } %>
  </head>
  <body>
    <div class="page-wrap">
      <%- include('../common/my/header.ejs', {cname: '杭州有才信息技术有限公司'}) %>
      <%- include('../common/my/leftNav.ejs', {page: 'receive'}) %>
      <div class="main-wrap">
        <h2 class="main-title">收到背调</h2>
        <div class="receive-orderlist clearfix2">
          <h3>以下是您当前接收到的背调，如实回复背调，将得到一定的积分奖励</h3>
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td class="c-name">深圳腾讯计算机网络有限公司</td>
              <td class="what">向您公司发起了一段背调核实内容(履历核实)</td>
              <td calss="date">2018.03.15</td>
              <td class="funcs"><a href="javascript:;" clas="btn-detail">详情</a><a href="javascript:;" clas="btn-reply">回复</a><a href="javascript:;" clas="btn-notreply">不回复</a></td>
            </tr>
          </table>
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td class="c-name">深圳腾讯计算机网络有限公司</td>
              <td class="what">向您公司发起了一段背调核实内容(履历核实)</td>
              <td calss="date">2018.03.15</td>
              <td class="funcs"><a href="javascript:;" clas="btn-detail">详情</a><a href="javascript:;" clas="btn-reply">回复</a><a href="javascript:;" clas="btn-notreply">不回复</a></td>
            </tr>
          </table>
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td class="c-name">深圳腾讯计算机网络有限公司</td>
              <td class="what">向您公司发起了一段背调核实内容(履历核实)</td>
              <td calss="date">2018.03.15</td>
              <td class="funcs"><a href="javascript:;" clas="btn-detail">详情</a><a href="javascript:;" clas="btn-reply">回复</a><a href="javascript:;" clas="btn-notreply">不回复</a></td>
            </tr>
          </table>
        </div>
        <div class="list-page">
          <a href="javascript:;" class="pre i-b"><i class="iconfont chainio-icon-sanjiaoleft"></i></a>
          <span class="text i-b">1 / 3</span>
          <a href="javascript:;" class="next i-b"><i class="iconfont chainio-icon-sanjiaoright"></i></a>
          <input type="text" class="input-field i-b" />
          <a href="javascript:;" class="btn-jump i-b">跳转</a>
        </div>
      </div>
      <%- include('../common/my/footer.ejs') %>
    </div>
    <script type="text/javascript" src="/dist/receive.js?v=<%= ts %>"></script>
  </body>
</html>